.alignment {
    display: list-item;
}

.title {
    text-align: center;
    color: darkviolet;
}
.onLeftDisplay{
   align:center;
}
#id001{
    color: red;
}
span{
    color: red;
    font-size: 10px;
}
.ji{
    color: darkviolet;
}
h1{
   text-align:center;
}